* {
    box-sizing: border-box;
    margin: 0.25rem;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin-right: 5rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 100vh;
    background-color:bisque;
}
.container {
    display: flex;
    border: solid 5px black;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #757876;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2; /* 2:1 grow ratio with .equal*/
}

.calculator {
    display: flex;
    
}

.equals {
    flex-grow: 1;
    border: solid 5px black;
    border-radius: 10px;
    padding: 3rem;
    font-size: medium; 
    font-weight: bolder; 
}

.box {
    display: flex;
    flex: 1 0 calc(100% / 5);
    /*padding-bottom: calc(100% / 5); /*set width equal to height*/
    border: solid 5px black;
    border-radius: 10px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-size: medium; 
    font-weight: bolder;  
}

.top-display{
    display: flex;
    justify-content: flex-end;
}

.screen{
    display: flex;
    flex-direction: column;
    background-color: #6fe88f;
    border: solid 5px black;
    border-radius: 10px;
}

.op{
    min-height: 2rem;
    font-family: "Kode Mono", monospace;
}

.current{
    display: flex;
    margin-bottom: 0;
    min-height: 5rem;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
    font-family: "Kode Mono", monospace;  
}

.previous{
    min-height: 2rem;
    font-family: "Kode Mono", monospace;
}