* {
    box-sizing: border-box;
    margin: 0.25rem;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 3rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:bisque;
}
.container {
    display: flex;
    border: solid 5px black;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #757876;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2; /* 2:1 grow ratio with .equal*/
}

.calculator {
    display: flex;
    
}

.equals {
    flex-grow: 1;
    border: solid 5px black;
    border-radius: 10px;
    padding: 3rem;
    font-size: medium; 
    font-weight: bolder; 
    background-color: #c78ee8;
}

.box {
    display: flex;
    flex: 1 0 calc(100% / 5);
    /*padding-bottom: calc(100% / 5); /*set width equal to height*/
    border: solid 5px black;
    border-radius: 10px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-size: medium; 
    font-weight: bolder;  
}

.top-display{
    display: flex;
    justify-content: flex-end;
}

.screen{
    display: flex;
    flex-direction: column;
    background-color: #6fe88f;
    border: solid 5px black;
    border-radius: 10px;
}

.op{
    min-height: 2rem;
    font-family: "Kode Mono", monospace;
}

.current{
    display: flex;
    margin-bottom: 0;
    min-height: 5rem;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
    font-family: "Kode Mono", monospace;  
}

.previous{
    min-height: 2rem;
    font-family: "Kode Mono", monospace;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 10 0;
    width: 100%;
    text-align: center;
    background-color: beige;
    margin: 0;
}

a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

#clear{
    background-color: #ed944c;
}