* {
    box-sizing: border-box;
    margin: 1rem;
    padding: 0;
}

.container {
    display: flex;
    border: solid 5px black;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.calculator {
    display: flex;
}